.row{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    height: 800px;
    width: 800px;
    border: 10px solid gray;
}
.black{
    background-color: black;
}
.box{
    background-color: white;
}