.row{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    height: 800px;
    width: 800px;
    border: 10px solid rgb(241, 217, 217);
}
.black{
    background-color: aqua;
}
.box{
    background-color: white;
}